<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feed the Plant</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/assets/js/app.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    

</head>

<body>
    {{{body}}}
</body>

<footer>
    <div class="disclaimer">Disclaimer: I do not own any of the images on this page or any of the references that are made or implied to any movie, show, play, or otherwise.</div>
    <br>
    To go back to go back to Blaise's Portfolio, <a href="https://blaiseak.github.io/portfolio.html">Click here</a>
</footer>
</html>
