<div class="card">
    <div class="card-body">
        <li>
            {{burger_name}}

            <button class="change-eat" data-id="{{id}}" data-neweat="{{devour}}">
                {{#if devour}} Feed Me Seymore! {{else}} Must have more, must be fresh {{/if}}
            </button>

        </li>
    </div>
</div>

