<div class="card">
    <div class="card-body">
        <li>
            {{burger_name}}

            <button class="change-eat" data-id="{{id}}" data-neweat="{{devour}}">
                {{#if devour}} Eat Me Seymore! {{else}} You know you liked me so re-make me! {{/if}}
            </button>

        </li>
    </div>
</div>

